.list {
  padding: .5rem 1.5rem;

  @include respond(phone) {
    padding: .5rem;
  }

  &__item {
    position: relative;
    margin: 0.5rem;
    padding: 0;
    width: calc(100% - 1.1rem) !important;
    display: flex;
    align-items: center;
    border-radius: 0;
    background-color: transparent;
  
    &::before {
      content: '';
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($primary-light, .2) !important;
      transition: width .3s cubic-bezier(.99, -.03, .33, 1.02), background-color .1s;
    }
  
    &:hover::before {
      z-index: -1000;
      width: 100%;
    }
  }

  &__content {
    padding-left: 3rem;
    flex: 1;

    @include respond(phone) {
      padding-left: 1rem;
    }
  }
  
  &__action {
    padding-right: 1rem;
  }

  &__head {
    font-size: 2rem;

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  &__sub {
    margin-top: .5rem;
    font-size: 1.4rem;

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }

  &__desc {
    font-size: 1.6rem;
    font-weight: 700;
    color: $grey-dark-2;

    @include respond(phone) {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}

