.app-toolbar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 100%;
  background-color: #FAF9F9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
  display: flex;
  align-items: center;
  justify-content: start;

  @include respond(phone) {
    margin-top: 0;
    margin-bottom: 1rem;
    flex-direction: column-reverse;
  }

  &__divider {
    @include respond(phone) {
      display: none;
    }
  }

  &__group {
    padding: 0 1.5rem;

    &--big {
      flex: 1;

      @include respond(phone) {
        align-self: stretch;
      }
    }
  }
}