.form-page {
  @include respond(tab-port) {
    padding: 2rem;
  }

  @include respond(phone) {
    padding: 0;
  }

  &__title {
    padding: 2rem;
    background-color: $grey-light-3;
    color: $grey-dark-2;
    margin-bottom: 1rem;
  }
}
