.home-page {
  width: 100vw;
  height: 100vh;
  background-image: url(bg.jpg);

  &__navigation {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__auth-card {
    margin: 2rem 8rem;

    @include respond(tab-port) {
      margin: 1rem 2rem;
    }

    @include respond(phone) {
      margin: 1rem 0;
    }
  }

  &__link {
    font-size: 1.8rem !important;
    transition: all .3s;

    &:hover, &:focus {
      color: darkblue !important;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: .7rem;
      background: url(right-chevron.svg);
      -webkit-background-size: cover;
      background-size: cover;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include respond(phone) {
        margin-bottom: 1rem;
      }
    }
  }
}

.content {
  position: relative;
  padding: 6rem 10rem;
  min-width: 70rem;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);

  @include respond(tab-port) {
    min-width: 100vw;
    padding: 4rem 8rem;
  }

  @include respond(phone) {
    min-width: 100vw;
    padding: 2rem 4rem;
  }
}

.auth-form {
  &__btn {
    margin: 2rem 0 4rem 0;

    @include respond(phone) {
      margin: 1rem 0;
    }
  }
}

.logo {
  position: absolute;
  align-self: center;
  margin-bottom: 2rem;
  bottom: 0;
  height: 10rem;

  @include respond(phone) {
    margin-bottom: 1rem;
    height: 5rem;
  }
}