.container {
  max-width: 120rem;
  margin: 0 auto;

  &--dark {
    background-color: #FAF9F9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1) !important;
  }

  @include respond(tab-land) {
    margin: 0;
    max-width: 100%;
  }
}

.content {
  padding: 50px 0 2rem 0;
}

.header {

  &__links, &_divider, &__auth {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__burger {
    display: none;

    @include respond(tab-port) {
      display: flex;
    }
  }
}