@import "~@blueprintjs/core/lib/scss/variables";

$primary: $cobalt3;
$primary-light: $cobalt5;
$primary-dark: $cobalt1;

$secondary: $forest3;
$secondary-light: $forest5;
$secondary-dark: $forest1;

$tertiary: $lime3;
$tertiary-light: $lime5;
$tertiary-dark: $lime1;

$forth: $turquoise3;
$forth-light: $turquoise5;
$forth-dark: $turquoise1;

$grey-light-1: #FAF9F9;
$grey-light-2: #F4F2F2;
$grey-light-3: #F0EEEE;
$grey-light-4: #CCC;

$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;
