.buttons {

  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 2rem 0;

    &:not(:last-child) {
      margin-right: 1.5rem;

      @include respond(phone) {
        margin-right: 0;
      }
    }
  }
}